.meal {
  align-items: flex-start;
  display: flex;
  flex-direction:row;
  background-color: #fff;
}

.meal__media {
  margin-right: 16px;
  width: 120px;
}

.meal__thumbnail {
  width: 100%;
  z-index: 0;
  overflow: hidden;
  border-radius: 10%;
}

.meal__thumbnail img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.meal__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.meal__details {
  display:flex;
  flex-direction: column;
  flex-grow: 2;
}

.meal__actions {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end
}

.meal__title,
.meal__description {
  margin: 0.1rem
}

/* .meal__description {
  flex-grow: 1;
} */

