.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem
}

.menu__action button {
  font: inherit;
  cursor: pointer;
  background-color: #90b918;
  border: 1px solid #5eaa17;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.menu__action button:hover,
.menu__action button:active {
  background-color: #37650d;
  border-color: #5eaa17;
}